@import "../../App.scss";

.searchToolbar {
  background-color: white;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 0;
}
.space-between-toolbar-items > div {
  margin-right: $ins-gutter;
  align-self: flex-end;
}

