.ins-c-rbac__user-label-skeleton {
  width: 50px;
}

// fix for cropped placeholder: https://github.com/patternfly/patternfly/issues/3449
 input#filter-by-username.ins-c-conditional-filter[type="text"] {
  width: 230px;
} 

@media only screen and (max-width: 768px) {
  .ins-c-conditional-filter {
    .pf-l-split__item.pf-m-fill {
      flex-grow: .9;
    }
  }
}
