.rbac-c-user__label-skeleton {
  width: 50px;
}

.rbac-c-user-roles {
  .pf-v5-c-dropdown {
    display: block;
  }
}

// fix for cropped placeholder: https://github.com/patternfly/patternfly/issues/3449
@media only screen and (min-width: 769px) {
  input#filter-by-username.ins-c-conditional-filter[type="text"] {
    width: 230px;
  }

  .rbac-c-user-roles {
    .pf-v5-c-dropdown {
      display: none;
    }
  }
}
