.rbac-service-accounts-alert {
  .pf-v5-c-alert__title {
    font-weight: var(--pf-v5-global--FontWeight--light);
    color: var(--pf-v5-global--Color--100);
    a {
      text-decoration: none;
    };
    margin: 0;
  }
}

.rbac-add-service-account-modal {
  .ins-c-conditional-filter {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .pf-v5-c-menu__list-item.ins-c-primary-toolbar__first-action {
    display: none;
  }
}