.pf-c-form {
    .pf-c-form__group {
        .pf-c-radio {
            padding-bottom: 8px;
             &:last-child{
                padding-bottom: 0px;
            }
        }
    }
}

.ins-c-rbac-add-permission-title {
    display: block;
}

.ins-c-rbac-seleted-chips {
    padding-bottom: var(--pf-global--spacer--md);
}
