.pf-c-form {
    .pf-c-form__group {
        .pf-c-radio {
            padding-bottom: 8px;
             &:last-child{
                padding-bottom: 0px;
            }
        }
    }
}

.pf-c-select__menu {
    .ins-c-select__scrollable-section {
        max-height: 365px; 
        overflow: auto;
    }
}

.ins-c-rbac-add-permission-title {
    display: block;
}

.pf-c-wizard__main-body{
    .ins-c-rbac-seleted-chips {
        padding-bottom: var(--pf-global--spacer--md);
        .pf-c-chip-group {
            background-color: var(--pf-global--BackgroundColor--100);
            .pf-c-chip-group__list{
                .pf-c-chip-group__list-item {
                    .pf-c-chip {
                        background-color: var(--pf-global--palette--blue-50);
                        border-radius: var(--pf-global--BorderRadius--lg);
                        .pf-c-chip__text{
                            font-size: var(--pf-global--FontSize--sm);
                        }
                    }
                }
            }
        }
    }
}


