.ins-c-rbac__sticky {
	.ins-c-rbac__sticky--title {
        margin-bottom: var(--pf-global--spacer--sm);
		border-bottom: 1px solid var(--pf-global--palette--black-300);
        .pf-l-grid__item {
            font-weight: var(--pf-global--FontWeight--bold);
            margin-bottom: var(--pf-global--spacer--sm) !important;

        }
    }

	.ins-c-rbac__sticky--data {
         max-height: 240px;
        overflow: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .data::-webkit-scrollbar {
        display: none;
    }
}

.ins-c-rbac__gutter-sm {
    margin-bottom: var(--pf-global--spacer--sm)
}

.ins-c-rbac__gutter-md {
    margin-bottom: var(--pf-global--spacer--md)
}
