.sticky {
	display: grid;
    grid-template-rows: 1fr 250px; // second thing here is the height of the content area
    
	.title {
		border-bottom: 1px solid var(--pf-global--BorderColor--300);
		span { font-weight: var(--pf-global--FontWeight--bold); }
	}
	.title, .row {
		display: grid;
		grid-template-columns: 250px 250px 150px; // column width for each one
		span { padding:  var(--pf-global--spacer--sm); }
	}
	.data {
        overflow: auto;
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .data::-webkit-scrollbar {
        display: none;
    }
	& + .sticky { margin-top: var(--pf-global--spacer--md); }
}

.ins-c-rbac__summary .pf-l-grid .pf-l-grid__item {
    margin-bottom: var(--pf-global--spacer--md)
}


.ins-c-rbac__gutter-sm {
    margin-bottom: var(--pf-global--spacer--sm)
}

.ins-c-rbac__gutter-md {
    margin-bottom: var(--pf-global--spacer--md)
}

.ins-c-rbac__bold-text {
    font-weight: var(--pf-global--FontWeight--bold);
}