.pf-v5-c-wizard__main-body{
  .rbac-c-selected-chips {
    padding-bottom: var(--pf-v5-global--spacer--md);
    .pf-v5-c-chip-group {
      background-color: var(--pf-v5-global--BackgroundColor--100);
      .pf-v5-c-chip-group__list{
        .pf-v5-c-chip-group__list-item {
          .pf-v5-c-chip {
            background-color: var(--pf-v5-global--palette--blue-50);
            border-radius: var(--pf-v5-global--BorderRadius--lg);
            .pf-v5-c-chip__text{
              font-size: var(--pf-v5-global--FontSize--sm);
            }
          }
         .pf-v5-c-chip::before {
            border-style: none;
         }
        }
      }
    }
  }
}
