.pf-v5-c-form {
    .pf-v5-c-form__group {
        .pf-v5-c-radio {
            padding-bottom: 8px;
             &:last-child{
                padding-bottom: 0px;
            }
        }
    }
}

.pf-v5-c-select__menu {
    .rbac-c-select__scrollable-section {
        max-height: 365px; 
        overflow: auto;
    }
}

.rbac-c-add-permission-title {
    display: block;
}

.pf-v5-c-wizard__main-body{
    .rbac-c-selected-chips {
        padding-bottom: var(--pf-v5-global--spacer--md);
        .pf-v5-c-chip-group {
            background-color: var(--pf-v5-global--BackgroundColor--100);
            .pf-v5-c-chip-group__list{
                .pf-v5-c-chip-group__list-item {
                    .pf-v5-c-chip {
                        background-color: var(--pf-v5-global--palette--blue-50);
                        border-radius: var(--pf-v5-global--BorderRadius--lg);
                        .pf-v5-c-chip__text{
                            font-size: var(--pf-v5-global--FontSize--sm);
                        }
                    }
                     .pf-v5-c-chip::before {
                         border-style: none;
                     }
                }
            }
        }
    }
}


@media only screen and (max-width: 815px) {
    .rbac-c-permissions-table {
        .ins-c-primary-toolbar {
            .pf-v5-c-toolbar__content {
                padding: 0px;
                .pf-v5-c-toolbar__content-section {
                    .pf-m-filter-group {
                        max-width: 30em;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 895px) {
    .rbac-c-permissions-table {
        .ins-c-primary-toolbar {
            .pf-v5-c-toolbar__content {
                .pf-v5-c-toolbar__content-section {
                    .pf-m-filter-group {
                        max-width: 32em;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .rbac-c-permissions-table {
        .ins-c-primary-toolbar {
            .pf-v5-c-toolbar__content {
                padding: 0px;
                .pf-v5-c-toolbar__content-section {
                    .pf-m-filter-group {
                        max-width: 25em;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 1055px) {
    .rbac-c-permissions-table {
        .ins-c-primary-toolbar {
            .pf-v5-c-toolbar__content {
                .pf-v5-c-toolbar__content-section {
                    .pf-m-filter-group {
                        max-width: 32em;
                    }
                }
            }
        }
    }
}


@media only screen and (min-width: 1150px) {
    .rbac-c-permissions-table {
        .ins-c-primary-toolbar {
            .pf-v5-c-toolbar__content {
                .pf-v5-c-toolbar__content-section {
                    .pf-m-filter-group {
                        max-width: 35em;
                    }
                }
            }
        }
    }
}

.rbac-c-resource-type-select {
    .pf-v5-c-menu__content {
        max-height: 300px;
        overflow: auto;
        width: inherit;
    }
    .pf-v5-c-menu__item-text {
        white-space: pre-wrap;
    }
}

.rbac-c-disabled-row {
    background-color: var(--pf-v5-global--disabled-color--300);
}
