# yaml-language-server: $schema=https://raw.githubusercontent.com/RedHatInsights/frontend-components/refs/heads/master/packages/config-utils/src/feo/spec/frontend-crd.schema.json
---
apiVersion: v1
kind: Template
metadata:
  name: rbac-frontend
objects:
  - apiVersion: cloud.redhat.com/v1alpha1
    kind: Frontend
    metadata:
      name: rbac
    spec:
      envName: ${ENV_NAME}
      title: RBAC
      deploymentRepo: https://github.com/RedHatInsights/insights-rbac-ui
      API:
        versions:
          - v1
        specs:
          - url: https://console.redhat.com/api/rbac/v1/openapi.json
            bundleLabels: ["iam"]
      frontend:
        paths:
          - /apps/rbac
      image: ${IMAGE}:${IMAGE_TAG}
      feoConfigEnabled: true
      searchEntries:
        - id: rbac-org-admin
          title: Org Admins
          href: /iam/user-access/users
          description: Manage your organization's administrator users.
          alt_title:
            - org administrator
      serviceTiles:
        - section: iam
          group: iam
          id: users
          href: /iam/user-access/users
          title: Users
          description: Manage your organization's role-based access control (RBAC) to services.
          icon: PlaceholderIcon
        - section: iam
          group: iam
          id: groups
          href: /iam/user-access/groups
          title: Groups
          description: ""
          icon: PlaceholderIcon
        - section: iam
          group: iam
          id: workspaces
          href: /iam/user-access/workspaces
          title: Workspaces
          description: ""
          icon: PlaceholderIcon
        - section: iam
          group: iam
          id: serviceAccounts
          href: /iam/service-accounts
          title: Service Accounts
          description: Authenticate and connect securely to APIs from multiple services.
          icon: ServicesIcon
      bundleSegments:
        - segmentId: module-rbac-ui
          bundleId: iam
          navItems:
            - id: my-user-access
              title: My User Access
              href: /iam/my-user-access
            - id: user-access
              title: User Access
              expandable: true
              permissions:
                - method: loosePermissions
                  args:
                    - - 'rbac:*:*'
                - method: featureFlag
                  args:
                    - platform.rbac.workspaces
                    - false
              routes:
                - id: overview
                  title: Overview
                  href: /iam/user-access/overview
                  permissions:
                    - method: featureFlag
                      args:
                        - platform.rbac.overview
                        - true
                    - method: isOrgAdmin
                  product: Identity & Access Management
                - id: users
                  title: Users
                  href: /iam/user-access/users
                  permissions:
                    - method: isOrgAdmin
                  icon: PlaceholderIcon
                  product: Identity & Access Management
                - id: roles
                  title: Roles
                  href: /iam/user-access/roles
                  permissions:
                    - method: isOrgAdmin
                  product: Identity & Access Management
                - id: groups
                  title: Groups
                  href: /iam/user-access/groups
                  permissions:
                    - method: isOrgAdmin
                  icon: PlaceholderIcon
                  product: Identity & Access Management
                - id: workspaces
                  title: Workspaces
                  href: /iam/user-access/workspaces
                  icon: PlaceholderIcon
                  permissions:
                    - method: featureFlag
                      args:
                        - platform.rbac.workspaces-list
                        - true
                    - method: loosePermissions
                      args:
                        - - 'inventory:groups:read'
                  product: Identity & Access Management
                - segmentRef:
                    frontendName: access-requests
                    segmentId: iam-access-requests
          position: 100
      module:
        manifestLocation: /apps/rbac/fed-mods.json
        defaultDocumentTitle: User Access | Identity & Access Management
        config:
          ssoScopes:
            - api.console
            - api.iam.service_accounts
        modules:
          - id: my-user-access
            module: ./MyUserAccess
            routes:
              - pathname: /iam
              - pathname: /iam/my-user-access
          - id: settings-user-access
            module: ./SettingsUserAccess
            routes:
              - pathname: /settings/rbac
          - id: iam-user-access
            module: ./IamUserAccess
            routes:
              - pathname: /iam/user-access
              - pathname: /iam/access-management

parameters:
  - name: ENV_NAME
    required: true
  - name: IMAGE_TAG
    required: true
  - name: IMAGE
    value: quay.io/redhat-services-prod/rh-platform-experien-tenant/insights-rbac-ui
