---
apiVersion: v1
kind: Template
metadata:
  name: rbac-frontend
objects:
  - apiVersion: cloud.redhat.com/v1alpha1
    kind: Frontend
    metadata:
      name: rbac
    spec:
      envName: ${ENV_NAME}
      title: RBAC
      deploymentRepo: https://github.com/RedHatInsights/insights-rbac-ui
      API:
        versions:
          - v1
      frontend:
        paths:
          - /apps/rbac
      image: ${IMAGE}:${IMAGE_TAG}
      navItems:
        - appId: 'rbac'
          title: 'My User Access'
          href: '/iam/my-user-access'
          description: 'View your account permissions for Red Hat Hybrid Cloud Console services.'
        - title: 'User Access'
          expandable: true
          permissions:
            - method: 'isEntitled'
          routes:
            - appId: 'rbac'
              title: 'Users'
              href: '/iam/user-access/users'
            - appId: 'rbac'
              title: 'Roles'
              href: '/iam/user-access/roles'
            - appId: 'rbac'
              title: 'Groups'
              href: '/iam/user-access/groups'
            - appId: 'accessRequests'
              title: 'Red Hat Access Requests'
              href: '//iam/user-access/access-requests'
              notifier: 'chrome.accessRequests.hasUnseen'
      module:
        'manifestLocation': '/apps/rbac/fed-mods.json'
        'isFedramp': true
        'defaultDocumentTitle': 'User Access | Identity & Access Management'
        modules:
          - id: 'my-user-access'
            module: './MyUserAccess'
            routes:
              - pathname: /iam
              - pathname: /iam/my-user-access
          - id: 'iam-user-access'
            module: './IamUserAccess'
            routes:
              - pathname: /iam/user-acces

parameters:
  - name: ENV_NAME
    required: true
  - name: IMAGE_TAG
    required: true
  - name: IMAGE
    value: quay.io/cloudservices/rbac-frontend
