.ins-c-mua-bundles__card {
    height: 100%;
    &--body { color: var(--pf-global--Color--200); }
    &--applist {
        display: flex;
        flex-direction: column;
        a {
            text-transform: capitalize;
            width: max-content;
            & + a { margin-top: var(--pf-global--spacer--sm); }
        }
    }
    &--insights {
        .ins-c-mua-bundles__card--applist {
            display: grid;
            grid-template-columns: auto auto;
            gap: var(--pf-global--spacer--sm);
            a { margin-top: 0; }
        }
    }
}