.rbac-c-mua-bundles__card--applist {
  text-transform: capitalize;
}
.rbac-c-mua-bundles__cardlink {
  color: inherit;
  &:hover {
    text-decoration: none;
  }
  &--disabled {
    pointer-events: none;
  }
}
