.rbac-service-accounts-alert {
  .pf-c-alert__title {
    font-weight: var(--pf-global--FontWeight--normal);
    color: var(--pf-global--Color--100);
    a {
      text-decoration: none;
    }
  }
}

@media only screen and (min-width: 768px) {
  .pf-c-toolbar__item.ins-c-primary-toolbar__actions {
    display: none;
  }
}