.rbac-service-accounts-alert {
  .pf-c-alert__title {
    font-weight: var(--pf-global--FontWeight--light);
    color: var(--pf-global--Color--100);
    a {
      text-decoration: none;
    };
    margin: 0;
  }
}

nav.pf-c-pagination__nav {
  div.pf-c-pagination__nav-control.pf-m-last {
    display: none;
  }
}

.rbac-add-service-account-modal {
  .ins-c-conditional-filter {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .pf-c-toolbar__item.ins-c-primary-toolbar__actions {
    display: none;
  }
}