.rbac-service-accounts-list {
  
    .ins-c-conditional-filter {
        display: none;
    }

    .pf-v5-c-table {
        th, td {
            word-wrap: break-word;
            overflow-wrap: anywhere;
        }
    }
}