.rbac-c-not-expandable-cell {
  padding: var(--pf-v5-c-table--cell--PaddingTop) var(--pf-v5-c-table--cell--PaddingRight) var(--pf-v5-c-table--cell--PaddingBottom) var(--pf-v5-c-table--cell--PaddingLeft);
}

.rbac-c-groups {
  .pf-v5-c-table tbody tr.rbac-c-group-default {
    .pf-v5-c-table__check  > * {
      display: none;
    }
  }

  .pf-v5-c-question-circle-icon {
    color: var(--pf-v5-global--palette--black-600);
    margin-left: var(--pf-v5-global--spacer--sm);
    cursor: pointer;
    &.icon-active {
      color: var(--pf-v5-global--palette--blue-400)
    }
  }

  .pf-v5-c-popover {
    min-width: 350px;
  }

  @media only screen and (max-width: 768px) {
     .pf-v5-c-dropdown__menu { right: 0; } // position all dropdown contents left in mobile
  }
}
