.rbac-c-sticky {
  .rbac-c-sticky--title {
    margin-bottom: var(--pf-v5-global--spacer--sm);
    border-bottom: 1px solid var(--pf-v5-global--palette--black-300);
    .pf-v5-l-grid__item {
      font-weight: var(--pf-v5-global--FontWeight--bold);
      margin-bottom: var(--pf-v5-global--spacer--sm) !important;
    }
  }
  .rbac-c-sticky--data {
    max-height: 240px;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .data::-webkit-scrollbar {
    display: none;
  }
}
