.rbac-c-role__permissions {
  .pf-v5-c-content {
    padding-bottom: var(--pf-v5-global--spacer--sm);
    h1 {
      font-weight: lighter;
    }
  }

  .rbac-c-text__disabled {
    color: var(--pf-v5-global--Color--200);
  }
}

.rbac-m-resource-definitions {
  .pf-v5-c-modal-box__body {
    text-align: center;
    padding-top: var(--pf-v5-global--spacer--4xl);
    padding-bottom: 7rem;
  }

  .pf-v5-c-modal__alert {
    margin-bottom: var(--pf-v5-global--spacer--sm);
  }
  
}

.ins-c-conditional-filter {
  .pf-v5-l-split__item {
    height: auto;
    .pf-v5-c-dropdown.ins-c-conditional-filter__group {
      height: 100%;
      button.pf-v5-c-dropdown__toggle {
        height: 100%;
      }
    }
  }

  .pf-v5-l-split__item.pf-m-fill {
    .pf-v5-c-menu-toggle {
      height: 100%;
      padding-left: var(--pf-v5-global--spacer--sm);
    }
  }
}
