.page__myUserAccess {
  .ins-p-myUserAccess--title {
    display: flex;      
    align-items: center;
    background-color: var(--pf-global--BackgroundColor--100);
    padding: var(--pf-global--spacer--md);
    .pf-c-label { margin-left: var(--pf-global--spacer--md); }
  }
  .ins-p-myUserAccess--subtitle {
    position: relative;
    background-color: var(--pf-global--BackgroundColor--100);
    box-shadow: var(--pf-global--BoxShadow--md-bottom);
    padding: 0 var(--pf-global--spacer--md);
    padding-bottom: var(--pf-global--spacer--md);
  }
  .ins-p-myUserAccess--dropdown {
    display: none;
  }
  .ins-l-myUserAccess-section__cards,
  .ins-l-myUserAccess-section__table {
    background-color: var(--pf-global--BackgroundColor--100);
    height: calc(100vh - 111px - 70px);
    padding: 0 var(--pf-global--spacer--lg);
    overflow-x: auto;
    h3 {padding: var(--pf-global--spacer--lg) 0;}
  }
  .ins-l-myUserAccess-section__cards {border-right: 1px solid var(--pf-global--BorderColor--100);}

  @media only screen and (max-width: 768px) {
    .sticky {
      position: sticky;
      position: -webkit-sticky;
      background-color: var(--pf-global--BackgroundColor--100);
      height: 60px;
      width: 100%;
      z-index: 200;
    }
    .ins-p-myUserAccess--title {
      padding: var(--pf-global--spacer--xl) var(--pf-global--spacer--lg) var(--pf-global--spacer--md) var(--pf-global--spacer--lg);
      top: 0;
    }
    .ins-p-myUserAccess--subtitle {
      box-shadow: none;
      padding: 0 var(--pf-global--spacer--lg) var(--pf-global--spacer--lg) var(--pf-global--spacer--lg);
      background-color: var(--pf-global--BackgroundColor--100);
    } 
    .ins-p-myUserAccess--dropdown {
      display: block;
      padding: 0 var(--pf-global--spacer--lg);
      top: 60px;
    }
    .ins-l-myUserAccess-section__table {
      height: auto;
      margin: var(--pf-global--spacer--md);
      > .pf-c-title {display: none;}
    }
  }   
}
