.page__myUserAccess {
    .pf-c-page-header {
        .ins-p-myUserAccess--subtitle span { display: block; }

        .pf-c-title {
            display: flex;
            align-items: center;
            .pf-c-label { margin-left: var(--pf-global--spacer--md); }
        }
    }


}