@import '~@redhat-cloud-services/frontend-components/index.css';

.modal-form-right-align {
  .pf-m-action:last-child {
    .data-driven-forms__pf4-button-group:first-child {
      margin-left: auto
    }
  }
}

.groups-table-detail {
  &.heading {
    margin: 0 !important
  }
  &.content {
    margin-top: 0 !important
  }
}

.data-table-pane {
  padding-left:32px;
  padding-right: 32px;
  padding-top: 16px;
}

.table-fix {
  .pf-c-table__toggle {
    padding-top: 0;
  }
}

.select-style {
  padding-bottom: 200px;
}

.toolbar-filter-input-group {
  position: relative;
  width: 300px;
  height: 36px;
  input {
    position: absolute;
    width: 300px;
    background: transparent;
  }
  svg {
    vertical-align: -0.125em;
    z-index: 1000;
    position: absolute;
    right: 8px;
    top: 10px;
    fill: #72767B
  }
}

.toolbar-filter-input-group-c{
  position: relative;
  width: 200px;
  height: 24px;
  input {
    position: absolute;
    width: 200px;
    background: transparent;
  }
  svg {
    vertical-align: -0.125em;
    z-index: 1000;
    position: absolute;
    right: 8px;
    top: 10px;
    fill: #72767B
  }
}

.disabled-color {
  color: #d2d2d2;
}

.danger-color {
  &:not(:disabled) {
    color: var(--pf-global--danger-color--100) !important;
  }
}

.ins-c-rbac__dialog--warning {
  .ins-c-rbac__delete-icon {
    color: var(--pf-global--warning-color--100);
  }
}

.delete-group-warning-icon {
  color: var(--pf-global--warning-color--100);
}

.pf-c-table {
  thead tr th.ins-m-width-5 { width: 5%; }

  tbody tr.ins-c-rbac__group-default {
    .pf-c-table__check:first-of-type input { display: none; }
  }
}

.ins-c-rbac__summary {
  .pf-l-grid {
    .pf-l-grid__item {
      margin-bottom: var(--pf-global--gutter--md);
    }
  }
}

.ins-c-rbac__user-label {
  margin-right: var(--pf-global--spacer--sm);

  &.ins-m-inactive { background-color: var(--pf-global--secondary-color--100); }
}

.ins-c-rbac__user-row {
  &.ins-m-inactive { color: var(--pf-global--Color--200); }
}

