@import '~@redhat-cloud-services/frontend-components/index.css';

.ins-c-rbac__summary {
  .pf-l-grid {
    .pf-l-grid__item {
      margin-bottom: var(--pf-global--gutter--md);
    }
  }
}

.pf-c-toolbar .pf-c-dropdown__menu .ins-c-primary-toolbar__first-action {
  display: none;
}

@media only screen and (max-width: 768px) {
  .ins-c-rbac__user-row .pf-c-label{
    width: max-content;
  }
  .pf-c-empty-state__content {
    h4.pf-c-title {
      font-size: var(--pf-c-title--m-2xl--FontSize);
    }
    .pf-c-empty-state__icon {
      font-size: var(--pf-c-empty-state--m-xl__icon--FontSize);
    }
  }
}
