@import '~@redhat-cloud-services/frontend-components/index.css';

.delete-group-warning-icon {
  color: var(--pf-global--warning-color--100);
} 

.ins-c-rbac__summary {
  .pf-l-grid {
    margin-bottom: var(--pf-global--gutter--md);
  }
}

.ins-c-rbac__bold-text {
    font-weight: var(--pf-global--FontWeight--bold);
}

@media only screen and (max-width: 768px) {
  .ins-m-hide-on-sm {display: none;}

  // fix for mobile layout: https://github.com/patternfly/patternfly-react/issues/4922
  .pf-c-table__expandable-row.pf-m-expanded {
    max-height: none !important;
    overflow-y: visible;
    tr:first-of-type {padding-top: 0 !important;}
    > td::before {display: none;}
  }

  .ins-c-rbac__user-row .pf-c-label{
    width: max-content;
  }

  .ins-c-conditional-filter {
    .pf-l-split__item.pf-m-fill {
      flex-grow: .9;
    }
  }

  .pf-c-empty-state__content {
    h4.pf-c-title {
      font-size: var(--pf-c-title--m-2xl--FontSize);
    }
    .pf-c-empty-state__icon {
      font-size: var(--pf-c-empty-state--m-xl__icon--FontSize);
    }
  }
}
