name: Version
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

permissions:
  contents: read

jobs:
  install:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: './.github/actions/setup-environment'
      - name: Check Node version
        run: node --version && npm --version
      - name: Install dependencies
        run: npm i
  commitlint:
    needs: [install]
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: './.github/actions/setup-environment'
      - name: install
        shell: bash
        run: npm i
      - name: Validate current commit on push
        shell: bash
        if: github.event_name == 'push'
        run: npx commitlint --last --verbose
      - name: Validate PR commits
        shell: bash
        if: github.event_name == 'pull_request'
        run: npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose
  release:
    needs: [install, commitlint]
    runs-on: ubuntu-24.04
    permissions:
      contents: write # to be able to publish a GitHub release
      issues: write # to be able to comment on released issues
      pull-requests: write # to be able to comment on released pull requests
      id-token: write # to enable use of OIDC for npm provenance
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: './.github/actions/setup-environment'
      - name: Install dependencies
        run: npm i
      - name: Release
        run: npx semantic-release
